In [36]:
import pandas as pd
import numpy as np
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split


from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk import word_tokenize

In [23]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Hacker\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [24]:
df = pd.read_csv("bbc_text_cls.csv") 
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [25]:
## populate wirs2idx
# conver document into sequence of ints/ ids/ indices

idx = 0
word2idx = {}
tokenized_docs = []
for doc in df['text']:
    words = word_tokenize(doc.lower())
    doc_as_int = []
    for word in words:
        if word not in word2idx:
            word2idx[word] = idx
            idx += 1
        doc_as_int.append(word2idx[word])
        
    tokenized_docs.append(doc_as_int)

In [26]:
#reverse mapping
# if you do it smatrer you can store it as a list
idx2word = {v:k for k, v in word2idx.items()}

In [27]:
N = len(df['text'])

In [28]:
V = len(word2idx)

In [29]:
#instansiate our term frequency matrix
# note : could also have used count vectorizer
vectorizer = CountVectorizer()


tf = np.zeros((N, V))

In [30]:
#populate term frequency count

for i, doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i,j] += 1

In [31]:
document_freq = np.sum(tf > 0, axis = 0) #document frequency (shaape= (V,))

idf = np.log(N/ document_freq)

In [32]:
#compute tf-idf
tf_idf = tf * idf

In [33]:
np.random.seed(123)

In [34]:
#pick a random document, show top 5 terms (in terms of tf_idf score)
i =  np.random.choice(N)
row = df.iloc[i]
print("Label: ", row['labels'])
print("Text: ", row['text'].split("\n",1)[0])
print("Top 5 terms")

scores = tf_idf[i]
indices = (-scores).argsort()

for j in indices[:5]:
    print(idx2word[j])

Label:  sport
Text:  Athens memories soar above lows
Top 5 terms
paula
athens
1500m
her
kelly

In [35]:
#